<div id="rooms-calendar">
  <div id="tabbedPanels">
    <div id="info">
      <div>{{ calendar_header }}</div>
      <hr>
      <div id="start">{{ reservation_instructions }}</div>
    </div>
<br>
    <h3 class="date">{{ 'Reservation Calendar'|t }}</h3>
    <div class="hours">{{ date }} </div>
    <div class="hours">{{ building_hours_display }}</div>

    <div class="reserve-center"><img id="arrow" src="{{ arrow }}" /></div>
    <div id="date-change">{{ date_picker }}</div>

    <!-- Tabs -->
    <ul class="tabs room-tabs" data-tabs id="room-res-tabs">
      {% for cat in categories %}
      <li><a class="tabs-title {{ cat.active }}" href="#{{ cat.tag }}">{{ cat.title }}</a></li>
      {% endfor %}
    </ul>

    <div class="tabs-content panelContainer" data-tabs-content="room-res-tabs">
      {% for cat1 in categories %}
      <div id="{{ cat1.tag }}" class="tabs-panel panel ">
        <div class="gcolumns {{ orientclass }}">
          {# $table from D7 #}
          {{ cat1.table }}
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="clear"></div>
  </div>
</div>

